#header {
    margin-top: 100px;
    padding: 30px;
    background-repeat: no-repeat;
    background-size: auto;
    max-width: 100%;
    align-content: center;
}

h1{
    color: rgb(200, 200, 200);
    font-size: 150px;
    font-family: Georgia;
    text-align: left;
}

h3{
    color: rgb(170, 170, 170);
    font-size: 50px;
    font-family: Georgia;
    text-align: left;
    margin-bottom: 0px;
}

h4{
    color: white;
    font-size: 30px;
    font-family: Georgia;
    text-align: right;
}

iframe {
    margin-top: 100px;
    width: 70%;
    background-color: rgb(245, 245, 245);
}
